<app-sidebar></app-sidebar>

<div class="border-bottom pt-5 mt-2 mb-5">
  <h1 class="mt-2 mt-md-4 mb-3 pt-5">Dashboard</h1>
  <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
    <p class="text-muted">Este módulo lista todos los Mensajes de la tienda.</p>
    <p class="font-size-sm font-weight-medium pl-md-4"></p>
  </div>
</div>

<div class="card box-shadow-sm">
  <div class="card-header">
    <h5 style="margin-bottom: 0px">Ventas mensuales</h5>
  </div>

  <div class="card-body" >
    <div class="row">
      <div class="col-12">
        
      </div>
    </div>
  
  </div>
  

 